$colors: (
    color1: #FFF,
    color2: gold,
    color3: #2b2b2b,
);

@function color($color-name) {
    @return map-get($colors, $color-name )
  };

body {
	margin: 0;
	
}
p {
	word-wrap: break-word;
	max-width: 50%;
	margin: 0 auto;
}
.col-2 {width: 16.66%;}
.col-4 {width: 33.33%;}
.col-12 {width: 100%;}
.col-3 {width: 25%;}
.col-8 {width: 66.66%;}

[class*="col-"] {
	float: left;
	min-height: 1px;
	height: 100%;
	margin-top: 100px;
}
.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	&::after {
		content: "";
		display: table;
		clear: both;
	}
}
.row {
    .serv {
        margin-bottom: 70px;
        text-align: center;
        i {
            font-size: 30px;
            color: color(color2);
            border-radius: 50%;
            border: 4px solid;
            padding: 15px;
         
        }
        h3{color: color(color3);}
        p {
            margin-top: 15px;
            
        }
    }
	&::after {
		content: "";
		display: table;
		clear: both;
	}
}
header {
    padding: 10px;
    height: 100vh;
	background-size: cover;
    background-position: center;
    background-image: url(https://images.pexels.com/photos/1738402/pexels-photo-1738402.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
	nav {
        img { padding: 30px 0;
        }
		ul {
            padding: 30px 0;
			margin: auto;
			float: right;
			list-style-type: none;
			li {
				display: inline-block;
				a {
					line-height: 50px;
					display: block;
                    padding: 0 20px;
                    text-decoration: none;
                    color: color(color1);
				}
			}
		}
    }
    h1 {text-align: center;    
        font-size: 60px;
        color: color(color1);
    }
    h2 { text-align: center;
        color: color(color1);
        font-size: 40px;
        padding-top: 60px;
        font-style: oblique;
     }
    button.welcome-btn{
            background-color: color(color2);
            border: none;
            border-radius: 3px;
            color: color(color1);
            text-decoration: none;
            display: block;
            font-size: 20px;
            width: 250px;
            height: 65px;
            margin: 0 auto;
        } 
}

section.services {
    h1{
        font-size: 40px;
        margin-bottom: 10px;
        color: color(color3);
    }
	text-align: center;
}
